<div class="main">
    <div class="container">
<div class="skills-table">
            <h1>Skills</h1>
            {{#if dbError}}
            <div>Sorry, there was a problem with the database: <br/>
            {{theError}}
            </div>
            {{else}}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                {{#each skills}}
                    <tbody>
                        <tr class="active">
                            <td>{{sid}}</td>
                            <td>{{sname}}</td>
                            <td>{{stype}}</td>
                            <td>{{sdesc}}</td>
                        </tr>
                    </tbody>
            {{/each}}
            </table>
            {{/if}}
        </div>
        </div>
        </div>